/* CSS declarations go here */
body {
}


.content {
  margin:0;
  overflow:hidden;
  overflow-y:scroll;
  position: absolute;
  top: 120px;
  left:0;
  bottom:50px;
  right:0;
}
.status {
  position:absolute;
  right:0;
  top:0;
  padding-right:10px;
}
.acronym {
  font-weight:bold;
}
.header {
  height:120px;
  position: absolute;
  top:0;
  left:0;
  width:100%;
  margin:0;
  padding-left:5px;
}
.footer {
  height:40px;
  position: absolute;
  bottom:0;
  left:0;
  padding-left:5px;
  margin:0;
  width:100%;
}
.control-buttons {
  float:right;
}

li {
  list-style: none;
  padding: 10px;
  border-bottom: #eee solid 1px;
}
form {
  margin-bottom: 0;
}
input[type="text"] {
  margin-bottom: 0;
  width:350px;
}
textarea {
  width: 350px;
}
label {
  margin-top:10px;
  margin-bottom:0;
}
