/* CSS declarations go here */
body {
  height:100%;
  margin-left:5px;
}


.content {
  margin-bottom:80px;
  overflow:hidden;
  overflow-y:scroll;
  position: absolute;
  top: 120px;
  left:5px;
  height: 80%;
}

.acronym {
  font-weight:bold;
}
.header {
  height:120px;
  position: absolute;
  top: 0;
  left: 5px;
  width:100%;
}
.footer {
  height:80px;
  position: absolute;
  bottom:0;
  left:5px;
  width:100%;
}
.control-buttons {
  float:right;
}

li {
  list-style: none;
  padding: 15px;
  border-bottom: #eee solid 1px;
}
form {
  margin-bottom: 0;
}
input[type="text"] {
  margin-bottom: 0;
  width:350px;
}
textarea {
  width: 350px;
}
label {
  margin-top:10px;
  margin-bottom:0;
}
