/* CSS declarations go here */
body {
}

header {
}

h1 {
}

.new-acronym input {
}

.new-acronym input:focus{
}

ul {
  margin: 0;
  padding: 0;
  background: white;
}

.delete {
  float: right;
  position: relative;
}

.edit {
  float: right;
  position: relative;
}

.unlock {
  float: right;
  position: relative;
}
.update {
  float: right;
  position: relative;
}

.cancel {
  float: right;
  position: relative;
}

li {
  position: relative;
  list-style: none;
  padding: 15px;
  border-bottom: #eee solid 1px;
}
form {
  margin-bottom: 0;
}
input[type="text"] {
  margin-bottom: 0;
}
.acronym {
}

@media (max-width: 600px) {
  li {
    padding: 12px 15px;
  }

  .search {
    width: 150px;
    clear: both;
  }

  .new-acronym input {
    padding-bottom: 5px;
  }
}
