<!DOCTYPE html>
</html>
    <head>
        <title>Acronyms</title>
        <link href="/acronyms/css/style.css" rel="stylesheet">
        <script type="text/javascript" src="/acronyms/js/ejs_production.js"></script>
        <script type="text/javascript" src="/acronyms/js/jquery-2.1.1.min.js"></script>
        <script type="text/javascript" src="/acronyms/socket.io/socket.io.js"></script>
        <script type="text/javascript" src="/acronyms/js/all.js"></script>
    </head>
    <body>
        <div class="page-header"><h2><%=page_title%></h2></div>
        <div class="page-container">
