<%- include layouts/header.ejs %>

        <div class="page-data">
         <div class="data-btn">
           <button onClick="addAcronym();">+ Add</button>
         </div>
         <div class="data-table">
            <table id="alldata" border="1" cellpadding="7" cellspacing="7">
                <tr>
                    <th>Acronym</th>
                    <th>Meaning</th>
                    <th width="120px">Action</th>
                </tr>
                               
                <% if(data.length){ 
                   data.forEach(function(data) { %>
                <%- include acronym.ejs %>
            <% }); } %>
            </table>
         </div>
        </div>
        <script>
          var url = window.location.protocol+'//'+window.location.host;
          
        var s = new io(url, {path: '/acronyms/socket.io'});
        var template = new EJS({url: '/acronyms/views/acronym.ejs'})
        function doit() {

            s.emit('data', "HELLO WORLD");

        }
        s.on('data', function(msg) { 
            msg.forEach(function(row) {
                if($("#"+row.id)[0]) {
                    $("#"+row.id).remove();
                }
                
                $("#alldata").append(template.render({data:row}));
            });
        });

        </script>
        <a href="javascript:doit();">CLICK</a>
<%- include layouts/footer.ejs %>
