<%- include layouts/header.ejs %>

        <div class="page-data">
            
            <form method="post" action="/acronyms/add">
                <table cellpadding="11">
                <tr>
                    <td class="label">Acronym</td><td>: <input type="text" name="acronym" required></td>
                 </tr>
                 <tr>
                    <td class="label" valign="top">Meaning</td><td valign="top">: <textarea name="meaning" required cols="30" rows="5"></textarea></td>
                </tr>
                <tr>
                    <td class="label">URL</td><td>: <input type="text" name="url"></td>
                 </tr>
                 <tr>
                    <td class="label"></td>
                    <td>
                        &nbsp; <input type="submit" name="submit" value="Save">
                       <input type="button" name="cancel" value="Cancel" class="cancel" onClick="cancelAdd()">
                    </td>
                 </tr>
                </table>
            </form>
            
        </div>
        
<%- include layouts/footer.ejs %>
